.sidebarOptions{
    display: flex;
    align-items: center;
    color:rgb(179, 179, 179);
    height: 40px;
    cursor: pointer;
    transition: 200ms color ease-in;
    overflow: hidden;
}
.sidebarOptions:hover{
    color:white
}
.sidebarOption_icon {
    margin-left: 15px;
    margin-right: 10px;
}
.sidebarOptions>p{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px;
}